@import "../../styles/_variables";


.btn {
  cursor: pointer;
  padding: 10px;
  outline: none;
  border: none;
  color: $common-text-color;
  border-radius: 3px;

  &:hover {
    background: darken($color: $default-color, $amount: 10);
  }
  &:active {
    box-shadow: inset 1px 1px 3px 1px darken($color: $default-color, $amount: 18);
  }

  &.primary {
    background: $primary-color;
    color: #fff;
    &:hover {
      background: darken($color: $primary-color, $amount: 10);
    }
    &:active {
      box-shadow: inset 1px 1px 3px 1px darken($color: $primary-color, $amount: 18);
    }
  }

  &.secondary {
    background: $secondary-color;
    color: #fff;
    &:hover {
      background: darken($color: $secondary-color, $amount: 10);
    }
    &:active {
      box-shadow: inset 1px 1px 3px 1px darken($color: $secondary-color, $amount: 18);
    }
  }

  &.st-warning {
    color: $common-text-color;
    background: $warning-color;
    &:hover {
      background: darken($color: $warning-color, $amount: 10);
    }
    &:active {
      box-shadow: inset 1px 1px 3px 1px darken($color: $warning-color, $amount: 18);
    }
  }

  &.st-alert {
    color: #fff;
    background: $alert-color;
    &:hover {
      background: darken($color: $alert-color, $amount: 5);
    }
    &:active {
      box-shadow: inset 1px 1px 2px 1px darken($color: $alert-color, $amount: 18);
    }
  }
}
