$default-color: #DCDCDC;
$primary-color: #6B9BD2;
$secondary-color: #8E96A3;
$warning-color: #ffeb3b;
$alert-color: #ff4545;

$border-color: #e3e3e3;
$shadow-color: rgba(227, 227, 227, 0.78);
$common-text-color: #4a4a4a;
